   :root {
      --bg-dark: #1e2029;
      --bg-light: #1F2833;
      --bg-light-hover: rgb(52, 62, 75);
      --text: white;
      --text-secondary: #607a9a;
      --accent: #1D4BEF;
      --accent-hover: #4062dd;
      --transparent-hover: rgba(256, 256, 256, 0.4);
      --gradient-1: #2E3440;
      --gradient-2: #3B4252;
      --gradient-3: #3B4252;
      --gradient-4: #4C566A;
      --gradient-5: #646f84;
  }
  
  * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      font-family: "Work Sans", "Helvetica", sans-serif;
  }
  
  body {
      background: linear-gradient(45deg, var(--bg-light) 0%, var(--bg-light) 63%, var(--gradient-1) 63%, var(--gradient-1) 75%, var(--gradient-2) 75%, var(--gradient-2) 81%, var(--gradient-3) 81%, var(--gradient-3) 85%, var(--gradient-4) 85%, var(--gradient-4) 90%, var(--gradient-5) 90%, var(--gradient-5) 100%);
      background-attachment: fixed;
      overflow-x: hidden;
      min-height: 100vh;
      width: 99.5%;
      letter-spacing: 0.05em;
      -webkit-text-stroke: 0.35px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: normal;
      -webkit-text-stroke: 0.55px;
  }
  
  h1 {
      margin: 70px 0;
      font-weight: 600;
      font-size: 48px;
      color: var(--text);
  }
  
  nav {
      height: fit-content;
  }
  
  main {
      width: 78%;
      margin: auto;
      min-height: 100vh;
  }
  
  @media only screen and (max-width: 683px) {
      body {
          font-size: 85%;
      }
      main {
          width: 92%;
      }
      .wrapper>.wrapper {
          margin-top: calc(-3em - 8px);
      }
  }
  
  p {
      line-height: 25px;
      color: var(--text-secondary);
  }

  b {
      color: var(--text);
  }
  
  a {
      text-decoration: none;
  }
  
  a:visited {
      color: var(--accent);
  }
  
  .transparente {
      border: 1px solid var(--text);
      box-sizing: border-box;
      border-radius: 100px;
      color: var(--text);
      transition: background-color 200ms;
  }
  
  .transparente:hover {
      background-color: var(--transparent-hover);
  }
  
  aside>button:hover {
      border: transparent 1px;
  }
  
  .disabled {
      color: var(--text);
      background-color: transparent !important;
      pointer-events: none;
      white-space: nowrap;
  }

  button#settings, button.menu {
    height: 3rem;
  }
  
  button.main-action {
      background-color: var(--accent);
      color: white;
      padding: 10px 0;
      border-radius: 100px;
      transition: background-color 200ms ease-in-out;
  }
  
  button.main-action:hover {
      background-color: var(--accent-hover);
  }
  
  .wrapper>.wrapper {
      margin-top: calc(-3em);
  }
  /* SWITCH */
  
  .mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
      background-color: #fff !important;
      border-color: #fff !important;
  }
  /* ANIMACIONES */
  
  @keyframes clipped {
      0% {
          clip-path: circle(0% at 50% 50%);
      }
      100% {
          clip-path: circle(100% at 50% 50%);
      }
  }
  
  #landing {
      animation: clipped 1s ease-in-out 1;
  }
  
  @keyframes wave {
      0% {
          margin-left: 0;
      }
      100% {
          margin-left: -1600px;
      }
  }
  
  .nube-uno {
      background: url("./svg/nube_1.svg") repeat-x;
      position: absolute;
      bottom: 477px;
      width: 6400px;
      height: 198px;
      animation: wave 37s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
      z-index: -999;
  }
  
  .nube-dos {
      background: url("./svg/nube_2.svg") repeat-x;
      position: absolute;
      bottom: 350px;
      width: 6400px;
      z-index: -999;
      height: 405px;
      animation: wave 25s cubic-bezier( 0.36, 0.45, 0.63, 0.53) .125s infinite;
  }